<!-- Patrial - Частичное представление, рендерится вся разметка в этом файле, но она не всталяется в layout.
Используется для подключения нужной нам разметки в разных представлениях. В данном случае эта форма для создания и
 редактирования поста подкючена в предствалених new и edit путем указания render 'form' -->

<%= form_with(model: [@user, @article], local: true)  do |f| %>
  <!-- Перехватываем ошибки при сохранении поста, и выводим из списком методом each -->
  <div>
    <% if @article.errors.any? %>
      <% @article.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%= msg %> </div>
      <% end %>
    <% end %>
  </div>

  <p>

    <%= f.label :title, "Заголовок" %>   <br/>
    <!--required: :true, minlength: 2, placeholder: "Заголовок"  - эта атрибуты, которые сгенерируют нужные нам теги HTML.
     required: :true - поле должно быть заполнено, minlength: 2 - длина не менее 2 символов. Это валидация на уровне
     браузера, а валидация на уровне модели(на уровне базы данных) прописывается в файле модели article.rb -->
    <%= f.text_field :title, required: :true, minlength: 2, placeholder: "Заголовок", class: 'form-control' %>
  </p>

  <p>
    <%= f.label :body, 'Текст' %>    <br/>
    <%= f.text_area :body, required: :true, placeholder: "Текст", class: 'form-control' %>
  </p>

  <p>
    <%= f.label :image, 'Фото' %>    <br/>
    <%= f.file_field :image, class: 'form-control'%>
  </p>

  <p>
    <%= f.label :user_id %> <!-- отображаем автора поста для проверки -->
  </p>

  <p>
    <%= f.submit "Сохранить", class: "btn btn-success" %>
  </p>

<% end %>

