<% provide(:title, "Feed - Лента") %>

<%= paginate @articles %>

<h1 class="mb-4"> Feed - Лента </h1>
  <% unless @articles.nil? %>
    <% @articles.each do |article| %>
      <article class="card mt-3">
        <div class="card-body">
          <section class="card-text">
            <h3><%= article.user.username %> </h3>
            <h4><%= article.title %></h4>
            <p class="my-2"> <%=truncate strip_tags(article.body), length: 15, omission: '...(continued' %></p>
            <strong class="img-fluid img-thumbnail"> <%= image_tag article.image_url, width: 350 if article.image %> </strong>
            <p><%= article.likes.count %> <%= (article.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <%#= link_to "Открыть пост / маршрут не настроен", "#" , class: 'btn btn-primary'  %>
            <%= link_to "Открыть пост", user_article_path(article.user_id, article ), class: 'btn btn-primary' %>

            <hr/>
    <% end %>
  <% else %>
    </section>
            <h4> Ваша лента пустая </h4>

        </div>
  </article>
<% end %>
<%= paginate @articles %>