<h1> <%= @article.title %></h1>
<p>  <%= @article.body %> </p>
<strong><%= image_tag @article.image_url if @article.image  %></strong>
<hr/>

<%= link_to "Редактировать", edit_user_article_path(@user, @article), class: 'btn btn-warning' %>
<%= link_to "Удалить", user_article_path(@user, @article), method: :delete, data: {confirm:"Удалить?"}, class: 'btn btn-danger' %>
</br>
<hr/>



<br/>
<hr/>
<h5> Добавить комментарий </h5>

<%= form_with model: [@article, @article.comments.build], local: true do |form| %>

  <p>
    Пользователь <br>
    <%#= current_user.username %>
    <%= form.text_field(:author, {:class => 'form-control'}) %>
  </p>
  <p>
    Текст комментария <br>

    <%= form.text_area(:body, {:class=>'form-control'}) %>
  </p>
  <p>
    <%= form.submit('Добавить комментарий', {:class=>'btn btn-primary'}) %>
  </p>
<%end %>