<h1> <%= @article.title %></h1>
<p>  <%= @article.body %> </p>
<strong><%= image_tag @article.image_url if @article.image  %></strong>
<hr/>

<%= link_to "Редактировать", edit_user_article_path(@user, @article), class: 'btn btn-warning' %>
<%= link_to "Удалить", user_article_path(@user, @article), method: :delete, data: {confirm:"Удалить?"}, class: 'btn btn-danger' %>
