<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Demo instagram", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">


        <% if user_signed_in? %>
          <li><%= link_to "Главная страница", user_articles_path(current_user) %></li>
          <li>  <a> Hello, <%= current_user.username %>  </a> </li>
          <li>  <%= link_to 'Профиль', user_path(current_user)  %></li>
          <li>  <%= link_to "Новый пост", new_user_article_path(current_user)%></li>

          <li> <%= link_to 'Список пользователей', users_path %></li>

        <li>  <%= link_to 'Sign Out!', destroy_user_session_path, method: :delete %> </li>
        <% else %>
        <li>  <%= link_to 'Sign In!', new_user_session_path %> </li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>