<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>

<!--
  <main class="container mt-3">
    <#% flash.each do |key, value| %>
      <div class="alert alert-<#%= key %>" >
        <#%= value %>
      </div>
    <#% end %>
  </main>
  лучше записать так:
  -->
  <main class="container mt-3">
    <% flash.each do |key, value| %>
      <%#if key == "notice"   %>
    <div>
        <%= tag.div value, class: "alert alert-#{key}", role: 'alert' %>
      <%# else %>
        <%#= tag.div value, class: "alert alert-info", role: 'alert' %>
    </div>
      <% end %>
    <%# end %>
  </main>


    <div class="container">
      <p class="notice"><%# для девайса = notice %></p>
      <p class="alert"><%# для девайса = alert %></p>
      <%= yield %>
  <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
